<section class="py-5">
	<div class="container">
		<div class="row align-items-center">
			<div class="col-12 col-md">
				<h4>Onze Evenementen</h4>
				<h2>Transformeer Jouw Evenementen met Spelavonturen</h2>
				<p>Spelavonturen brengt onvergetelijke momenten tot leven.</p>
			</div>
			<div class="col-12 col-md">
				<p>Bij Spelavonturen zijn we gespecialiseerd in het organiseren van verschillende evenementen die zijn
					afgestemd
					op jouw unieke visie. Van elegante bruiloften tot dynamische zakelijke evenementen en inspirerende
					fondsenwervingsfeesten, we creëren naadloze en onvergetelijke ervaringen.</p>
			</div>
		</div>
		<div class="row pt-4">
			<% eventsData.forEach(function(event) { %>
				<div class="col-12 col-md-4 mb-4">
					<img class="img-fluid" src="<%= page === 1 ? '' : '../' %><%= event.image %>" alt="<%= event.title %>">
					<h3 class="pt-3">
						<%= event.title %>
					</h3>
					<% event.content.forEach(function(paragraph) { %>
						<p>
							<%= paragraph %>
						</p>
						<% }) %>
							<a href="<%= event.title.toLowerCase().replace(/ /g, '-') %>.html" class="btn btn-info">Meer
								Informatie</a>
				</div>
				<% }) %>
		</div>
	</div>
</section>
